li{
    color: rgb(0, 0, 0);
    font-size: 20px;
 list-style-type:'😊';
}
li.abc {
color: chocolate;
}

.binomo{
    text-align: center;
    font-size: 50px;
    background-color: lime;
    border: 5px darkblue solid;
}
.iq{
    text-align: center;
    font-size: 60px;
    background-color: orange;
    border: 5px solid ;
    padding: 20px;
}
.iq:hover{
    color: rgb(0, 26, 255);
    text-decoration: line-through;
    text-decoration-color: violet;
    background-color: greenyellow;
}
.binomo:hover{
    color: rgb(0, 26, 255);
    text-decoration: overline;
    text-decoration-color: violet;
    background-color: rgb(237, 254, 0);
}